* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  padding: 30px;
  background:rgb(6, 6, 41) !important;
  color: aliceblue;
}

input {
  color: gray;
  font-size: 1.2rem;
  width: 20%;
}

.card-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  align-content: center;
  border: 1px solid grey;
  background: rgb(6, 6, 41) !important;
  border-radius:  6px;
  margin-bottom: 10px;
  margin-right: 10px;
  max-width: 350px;
  min-width: 345px;
  overflow: hidden;
}


.card p {
  padding: 5px;
  text-align: center;
  color: aliceblue;
}

.card img {
  max-height: 170px;
  min-height: 165px;
  max-width: 350px;
  min-width: 345px;
}